@import url(header.css);
@import url(section.css);

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left,white,black);
}

#img_logo{
    width: 5vw;
    position: absolute;
    left: 10vw;
    }